{% load static %}

  <!-- Footer -->
  <footer class="footer py-4">
    <div class="container d-flex flex-wrap justify-content-start">
      <!-- Logo & Name -->
      <div class="d-flex align-items-center me-5 mb-3 mb-md-0">
        <img src="/media/image/Logo.png" alt="Alpha Logo" class="me-2" style="height: 85px; width: auto;">
        <div>
          <h5 class="mb-0">Alpha Run Club</h5>
          <p class="mb-0">Fitness. Friendship. Purpose.</p>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="me-5 mb-3 mb-md-0" style="margin-left: 260px;">
        <h6><b>Quick Links:</b></h6>
        <ul class="list-unstyled">
          <li><a href="/home" class="text-white text-decoration-none">Home</a></li>
          <li><a href="/events" class="text-white text-decoration-none">Events</a></li>
          <li><a href="/apd" class="text-white text-decoration-none">Performance Division</a></li>
          <li><a href="/contact" class="text-white text-decoration-none">Contact Us</a></li>
        </ul>
      </div>

      <!-- Connect -->
      <div style="margin-left: 260px";>
        <h6><b>Connect:</b></h6>
        <p><a href="mailto:alpharunclub@gmail.com" target="_blank" class="text-white">📧 Email</a></p>
        <p><a href="https://www.instagram.com/alpha_runclub/" target="_blank" class="text-white">📸 Instagram</a></p>
      </div>
    </div>
  </footer>
        
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>
